#navbarResponsive ul li{padding: 0 5px;}

/* header{
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 55px;
    margin: 0;
    position: fixed;
    z-index: 99999;
    top : 0px;
} */

section{margin-top: 70px;}

.dropdown-menu{z-index: 9999;}

/* .btn{border-radius: 10px;} */

.logo{
    width: 500px;
}

.beli-keranjang{margin-right: 5px;}

footer{background-color: #dc3545;}

.form-daftar{margin: 10px 0;}

.kategori-home{border-radius: 50%;}

.tab-header{
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: .75rem 1.25rem;
}

/* start toko user page */
.toko-user{
    margin-top: 70px;
    margin-bottom: 70px;
    /* height: 700px; */
    border: 1px solid rgba(0,0,0,.125);
    padding: 20px;
}
/* end toko user page */

/* start profile page */
.profile{
    margin-top: 70px;
    margin-bottom: 70px;
    height: 500px;
    border: 1px solid rgba(0,0,0,.125);
    padding: 20px;
}

.nav-tabs .nav-link{
    border-width: 2px;
}

/* .nav-tabs{border-width: 2px;} */
/* end profile page */