.li-in-navbar{padding: 0 5px;}

/* header{
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 55px;
    margin: 0;
    position: fixed;
    z-index: 99999;
    top : 0px;
} */

section{margin-top: 70px;}

.dropdown-menu{z-index: 9999;}

/* .btn{border-radius: 10px;} */

.logo{
    width: 500px;
}

.beli-keranjang{margin-right: 5px;}

footer{background-color: #dc3545;}

.form-daftar{margin: 10px 0;}

.kategori-home{border-radius: 50%;}

